.share__wrapper {
        display: none;
        width: 99%;
        height: 48px;
        align-items: center;
 }
.iframe {
    width: 50% !important;
    height: 56% !important;
}
.fb-share-button span{
    width: 92px !important;
    height: 61% !important;
    top: 3px;
    right: -95px;
}

.fb-share-button span iframe{
    width: 58% !important;
    height: 100% !important;
}
